*wrapper {
    width: 970px;
    margin: 0 auto;
    border: 2px solid grey;
    background-color: lightgray;
}
h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    text-align: center;
    
}
button {
    display: inline-block;
    width: 150px;
    height: 40px;
    background-color: black;
    color: white;
    margin-top: 15px;
}
.imgs {
    border: 1px solid black;
    margin: 5px 5px;
}